<!DOCTYPE html>
<html lang="ja">
  <title>Document</title>
  <head>
    <title>App</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
      <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <header>
      <nav class="relative flex w-full items-center justify-between mt-10 bg-blue-300">
      <div class="px-4">
        <%= link_to 'ホーム', root_path %>
      </div>
      <div class="text-sm px-8 gap-10 flex items-center">
        <%= link_to 'about', about_path%>
        <%= link_to 'contact', contact_path%>
        <button type="button" class="inline-block rounded animate-pulse bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]">
          <%= link_to 'login', new_user_session_path%>
        </button>
        <% if user_signed_in? %>
          <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>